include LICENSE
#include README.rst
#include README.md
#include README.ipynb
include MANIFEST.in
include setup.cfg
include setup.py

recursive-include msurrogate/ *.py
recursive-include msurrogate/ *.m
recursive-include test/ *.py
recursive-include test/ *.m
